
#nav {
   box-sizing: border-box;
   background-color: #c8c4ea;
   padding: 20px;

}
#navigation {
  float: right;
  /* display: inline-block;
  justify-content: right; */
  z-index: 999;
  
}
#navigation ul {
  list-style: none;
  padding: 10px;
  display: block;
  cursor: pointer;
  letter-spacing: 0.0375rem;
}
#navigation ul li {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
}
.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
 border-top: 0.1875rem solid #775656 ;
}


#header-title{
  display: inline;
  font-size: 3rem;
}