
#nav {
   box-sizing: border-box;
   padding: 20px;

}
#navigation {
  float: right;
  /* display: inline-block;
  justify-content: right; */
  z-index: 999;
  
}
#navigation ul {
  list-style: none;
  padding: 10px;
  display: block;
  cursor: pointer;
}
#navigation ul li {
  display: inline-block;
  margin-right: 10px;
}

#header-title{
  display: inline;
}