#navigation {
  float: right;
  z-index: 999;
}
#navigation ul {
  list-style: none;
  padding: 10px;
  display: block;
  cursor: pointer;
}
#navigation ul li {
  display: inline-block;
  margin-right: 7px;
}

#header-title{
  display: inline;
}